AURORA_URL=http://localhost:3000
AURORA_API_KEY=key
WEBHOOK_PUBLIC_KEY_URL=https://api.test.starcommunity.app/.well-known/webhooks.key
AZURE_TENANT_ID=your-tenant-id
OIDC_CLIENT_ID=your-client-id
OIDC_CLIENT_SECRET=your-client-secret
OIDC_REDIRECT_URI=http://localhost:9999/auth/microsoft/callback
# AZURE_ALLOWED_GROUP_ID=your-group-object-id
ORDER_TIMEOUT=300